trunk/custom/configurations/rulexml/msgtype.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v3.5 NT (http://www.xmlspy.com) by alex (Financial Technologies International) -->
<!--DTD generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<!ELEMENT MSGSET (SEGMENT+)>
<!--Message set name/ID-->
<!ATTLIST MSGSET
	SET (BENCHMARKREF | EQUITY | FIXEDINCOME | FIXEDINCOMEUI | UBSWPARTNER | UIMESSAGESET |UBSWBOOK | RATING | OCC | CAMSCLIENTYZ | CAMSFMW | STREETCLIENTS | ISIDPLUS | REUTERS | SMDB | STARTERSET | CONVERTIBLE_AIP | TELEKURS | STREETREF | ISSUEREQUEST) #REQUIRED
>
<!ELEMENT PARAM (#PCDATA)>
<!ATTLIST PARAM
	TYPE (CFTIDATETIME | CFTILONG | CFTISTRING | long) #IMPLIED
	SEQ CDATA #IMPLIED
	MANDATORY (N | Y) #IMPLIED
>
<!ELEMENT RULE (PARAM*)>
<!ATTLIST RULE
	ORDER_TYP (A | B | F | D) #REQUIRED
	RULE_NME (CFTIADTPProcessing |
		CFTIAROPDupCheck |
		CFTIActivityStatus |
		CFTIAddressProcessing |
		CFTIAmortCapCheck |
		CFTIAmtIssuedValidity |
		CFTIAmtOutstValidity |
		CFTIBasicCheck |
		CFTIBMBenchmarkCorrectionRule |
		CFTIBMCheckBeforeDelete |
		CFTIBMCheckBenchmarkState |
		CFTIBMCheckCorrectionSequence |
		CFTIBMCheckDuplicateParticipant |
		CFTIBMCheckMktCapSum |
		CFTIBMCheckNoOfParticipants |
		CFTIBMCheckStartDate |
		CFTIBMCheckWeightSum |
		CFTIBMCreateRebalanceScheduleRule |
		CFTIBMCreateSubParticipant |
		CFTIBMFXConverter |
		CFTIBMEndDateMandatedWeightSegment |
		CFTIBMNonIndexIssueAlert |
		CFTIBMParticipantXOR |
		CFTIBMResetBnvc |
		CFTIBMSetSingleParticipantRule |
		CFTIBMStatusUpdateRule |
		CFTIBMSynchronizeWeights |
		CFTIBMToleranceRule |
		CFTICCRFProcessing |
		CFTICalculationType |
		CFTICallValueChangeCheck |
		CFTICconsolIssueIdAfter |
		CFTICconsolIssueIdFinal |
		CFTICheckEmployeeUpdateValid |
		CFTICheckPrimaryIDToBeUpdated |
		CFTIChkTranValues |
		CFTICommonValidation |
		CFTIConstFINS |
		CFTIConstrACGPPrtNum |
		CFTIConstrACGU |
		CFTIConstrADPU |
		CFTIConstrCACR |
		CFTIConstrCCRFContactOID |
		CFTIConstrCCRFOID |
		CFTIConstrCUGR |
		CFTIConstrCUSTPRT |
		CFTIConstrCurrency |
		CFTIConstrCustOID |
		CFTIConstrDMYISIN |
		CFTIConstrEAGRRole |
		CFTIConstrELECADDRID |
		CFTIConstrEMGPPrtNum |
		CFTIConstrFieldValue |
		CFTIConstrFldID |
		CFTIConstrIAID |
		CFTIConstrISSTYPByISSTYPNME |
		CFTIConstrInstrIDByID |
		CFTIConstrInstrIDForIAIP |
		CFTIConstrInstrumentType |
		CFTIConstrIssueActionID |
		CFTIConstrIssueTyp |
		CFTIConstrIssuPrefId |
		CFTIConstrLKforTimeSeries |
		CFTIConstrMKTOID |
		CFTIConstrMKTOIDByID |
		CFTIConstrOFFERNUM |
		CFTIConstrPrefId |
		CFTIConstrPRTNUM |
		CFTIConstrRoles |
		CFTIConstrSTDFOID |
		CFTIConstrSourceFINS |
		CFTIConstrStats |
		CFTIConstrUserPerferName |
		CFTIConstructCUSTClassificationCDE |
		CFTIConstructClassification |
		CFTIConstructGeoUnit |
		CFTIConstructInstrIDByISIDSegments |
		CFTIConstructIssueRating |
		CFTIConstructIssuerForInsert |
		CFTIConstructIssuerForIssue |
		CFTIConstructIssuerForUpdate |
		CFTICopyFieldFromStorage |
		CFTICountryChangeCheck |
		CFTICouponFrequencyValidity |
		CFTICouponPrGapValidity |
		CFTICpnRtDiffTolerance |
		CFTICpnTypCompleteCheck |
		CFTIDefaultDateOnAdd |
		CFTIDefaultInstMnem |
		CFTIDefaultPrtNumber |
		CFTIDeleteCustomer |
		CFTIDeleteINCL |
		CFTIDeleteISID |
		CFTIDeleteIssue |
		CFTIDerivePenultimateCouponDate |
		CFTIDetermineIssueActionType |
		CFTIDivType |
		CFTIDuplicateIAEVMethod |
		CFTIDuplicateRIDFMethod |
		CFTIDuplicateRISSMethod |
		CFTIDuplicateTTADMethod |
		CFTIDuplicateTTCHMethod |
		CFTIEndDateISID |
		CFTIFINSLookUpRule |
		CFTIFINSLookupByID |
		CFTIFKLookupRule |
		CFTIFRGULookup |
		CFTIFirstCouponValidity |
		CFTIFrequencyChangeCheck |
		CFTIGenerateCrossRefId |
		CFTIGetEntityDetailsForCCRF |
		CFTIGetFirstPayableDay |
		CFTIGetINSTRID |
		CFTIGovernment |
		CFTIGuaranteeChangeCheck |
		CFTIIPDFCurrencyMatchRule |
		CFTIISSRIDCompleteCheck |
		CFTIISSRLookUpRule |
		CFTIIgnoreNewIssue |
		CFTIInternalCustomerIdentifier |
		CFTIInternalIdentifierCreator |
		CFTIInternalListingID |
		CFTIInvokeIlogRule |
		CFTIIssueActionReplacement |
		CFTIIssueInquiryByID |
		CFTIIssueInquiryByIDStatus |
		CFTIIssueVendorToActive |
		CFTIIssueVersionNumber |
		CFTILinkIssuer |
		CFTILinkMissingFINS |
		CFTILoadLogicalKey |
		CFTILookupCurrency |
		CFTILookupPKRule |
		CFTIMRKTLookUpRule |
		CFTIMaturityDateNotExist |
		CFTIMaturityDateValidity |
		CFTIMinTradableAmtIssuedValidity |
		CFTIMinTradableAmtOutstValidity |
		CFTIModelDefault |
		CFTIMultiCPNSchedule |
		CFTINoCouponPayment |
		CFTIOBSIdentifier |
		CFTIPenCpnDteCheck |
		CFTIPenCpnDteCheck_ZeroCpn |
		CFTIPossibleSetttleDate |
		CFTIPrimaryIDProcessing |
		CFTIPrincipleStripCheck |
		CFTIRateChangeCheck |
		CFTIRemoveIfUpdate |
		CFTIRemoveReqPenISGR |
		CFTIReplaceIncomeEventDef |
		CFTIReplaceIssueActType |
		CFTIReplacePrincipalEventDef |
		CFTISeqNumGenerator |
		CFTISetAcctStatTyp |
		CFTISetEndOfMonthInd |
		CFTISetIssueType |
		CFTISetMatchKey |
		CFTISettlementAgencyDomestic |
		CFTISettlementAgencyGeneral |
		CFTISettlementAgency_UK |
		CFTISpreadValidity |
		CFTIStalePriceCheck |
		CFTISubscriptionMechanism |
		CFTITrillium |
		CFTIUBSWConstrInstrIDByIDSet |
		CFTIUBSWConstrInternalID |
		CFTIUBSWConstructFRIP |
		CFTIUBSWConstructIssuer |
		CFTIUniqueCheckAndIDLookup |
		CFTIUpdateQualitymark |
		CFTIUpdateVendorReqStatus |
		CFTIValBusinessDay |
		CFTIValCharsInSet |
		CFTIValCharsNotInSet |
		CFTIValChildSegmentExists |
		CFTIValCompareConst |
		CFTIValCompareMsgField |
		CFTIValFieldDomain |
		CFTIValFieldExists |
		CGSCValFINSIdentifiers |
		CFTIValISRXRelType |
		CFTIValInFuture |
		CFTIValIssId |
		CFTIValIssTypeforBBReqReply |
		CFTIValIssueEndTimeStamp |
		CFTIValIssueIdentifiers |
		CFTIValIssueOverride |
		CFTIValLength |
		CFTIValMKTIsUpdatable |
		CFTIValNotUpdated |
		CFTIValOCCVendorFeed |
		CFTIValOverride |
		CFTIValRange |
		CFTIValReferencedIssueExists |
		CFTIValSetInclusion |
		CFTIValSourceExists |
		CFTIValTypedChildSegmentExists |
		CFTIValidateField |
		CFTIValidateIADCStatus |
		CFTIValidateISIDEndDate |
		CFTIValidatePriceCorrectionMethod |
		CFTIValidateValLimit |
		CFTIValueNotChangedValidity |
		CFTIZeroCouponValidity |
		CFTIincomePaymentEvRate |
		CFTIissueDateValidity |
		CFTIissueOutstandingValidity |
		CGSCBMConstituentStatus |
		CGSCGlobalUniqueIdentifier |
		CGSCListingUniqueIdentifier |
		CGSCDerivedIssuerIdentifier |
		CGSCBloombergNonPrimaryExch |
		CGSCUpdateCoreIssueAttributes |
		CGSCValidateIssueIdentifierForUpdate |
		CGSCValidateIssueForInsert | 
		CGSCMatchIssue |
		CGSCValALIDForInsert |
		CGSCPreventCyclicHierarchy |
		CGSCDuplicateFINSMethod |
		CGSCEndDateFINS |
		CGSCLastUserIdFINS |
		CGSCValOCCIssId |
		CGSCUpdateFINSBranchEntities |
		CGSCEndDateINSTGUID |
		CGSCUpdateIssueStatus |
		CGSCEquateListing |
		CGSCDeleteSEDOLISXRRelation |
		CGSCEndDateMIXR |
		CGSCCheckPrimaryMktIdentifier |
		CGSCChangeSegAction |
		CGSCSetEffectiveDate |
		CGSCUpdateIAPRProcType|
		CUBSWChangeIssTypSameVendor|
		CUBSWConstrInstrIDByIDSet |
		CGSCValIssuerIdentifiers |
		CGSCCacheEntityDetails |
		CGSCReplaceIncomePaymentDef |
		CGSCReplacePrincipalPaymentDef |
		CGSCValidVendor |
		CGSCUpdateMissingUnderlyingInfo |
		CGSCCreateUnderlyingLink |
		CGSCCheckEnddateIdentifier |
		CGSCValidateStatisticsValue |
		CGSCPricingFXRT |
		CGSCBulkApproval |
		CGSCConsolidationStat |
		CGSCRealignALIDAfterMerge |
		CGSCSwapIssueActionID |
		CGSCEndDateSuspect |
		CGSCInvokeJavaRule |
		CGSCMergeEntity    |
		CGSCChangeApproval |
		CGSCConvertMinorCurrency |
		CGSCTrackMinorCurrency |
		CGSCDelistIdentifiers |
		CGSCDelistIssue |		
		CGSCIssuerDerivation |
		CGSCConstrVDDBIssuer |
		CGSCModelForcedReevaluation |
		CGSCEndDateDeListingIdentifiers |
		CGSCEndDateFinsFinsRole |
		CGSCEndDateMultiEntityHierarchy |
		CGSCChgApprConstrIssuPrefId |
		CGSCCaptureTransactionDetails |
		CGSCTrackRecordInTransaction |
		CGSCRealTimeMarketCreation |
		CGSCCreateMIXR |
		CGSCCreateGNCMPrimaryMkt |
		CGSCOverrideNestedSegmentAttribute |
		CGSCDWHUpdateVersionTimeStamp |
		CGSCLinkHistoryTable |
		CGSCOverrideCCOActionInVDDB |
		CGSCEndDateGPRCAndMPRCRecords |
		CGSCPropagateBulkException |
		CGSCPriceCurrencyCodeValidator |
		CGSCProcessDummyInstrument |
		CGSCStoreMessageBlob |
		CGSCIssActTypTranslator |
		CGSCDWHPopulateTRDT |
		CGSCRatioNormalization |
		CGSCValidateCompositeExchCode |
		CGSCSetGlobalIdentifierIndicator |
		CGSCIssueUsageTypeUpdater |
		CGSCSetMatchKeyForMergeMsg |
		CGSCEndDateChildRecords |
		CGSCCompositeShortSellIndicatorsUpdater |
		CGSCCheckForIdenitifersInMessage |
		CGSCCaptureDataChange |
		CGSCEndDateISID |
		CGSCSetGeographicUnit |
		CGSCHandleMultiGuarantorDataForSecurity  |		
		CGSCValidateDPICConfig |
		CGSCDeriveEffectiveTms |
		CGSCMatchSchedules |
		CGSCCopyPriceToScheduleForBCD |
		CGSCPopulateEventSubType |
		CGSCHandleMultiUnderlyingWarrants | 
		CGSCCaptureUpdateCommentsFromUI |
		CGSCCreateListing |
		CGSCIdentifyBDSTCouponRate |
		CGSCRetainCustomValues |
		CGSCPrincipalPaymentDefReplace |
		CGSCIncomePaymentDefReplace |
		CGSCSingleIRGUForCountryOfIncorporation |
		CGSCSuppressListingsForBrokerMarket |
		CGSCCFICodeValidation |
		CGSCPopulatePricePoints |
  		CFTIAddProcessingDetailsToCADH |
		CFTILogCalendarData |
		CGSCSuppressCountryLevelSEDOL |
		CGSCHandleOrphanEntity | 
		CGSCEndDateIdentifiers | 
		CGSCIssuerBasedFINSConsolidation |
		CGSCFilterAOIEntities	|
		CGSCCheckPriceQuoteMethod |
        CGSCHomeStockExchIndicator |
		CGSCRollUpMarketsToOperatingMIC | 
        CGSCRemoveIssueUsageTypeFieldFromMessage |
		CGSCHandleCompositeKey |
		EMPLApplicationUserGroupParticipant |
		CGSCCheckUndeleteIdentifier) #REQUIRED
>

<!ELEMENT SEGMENT (#PCDATA | RULE)*>
<!ATTLIST SEGMENT 
	TYPE ( 	Initial |
		Final  |
		ACCTAccountExternalAccountRole |
		ACCTAccountGroupParticipant |
		ACCTAuthorizedOrder |
		ACCTCashSweepVehicle |
		ACCTCentralCrossReference |
		ACCTCrossEnterpriseDefaultAccount |
		ACCTCrossRefCrossRefRole |
		ACCTCustomerAccountRole |
		ACCTCustomerGroupAccountRole |
		ACCTElectronicAddress |
		ACCTEmployeeAccountRole |
		ACCTEmployeeGroupAccountRole |
		ACCTInventoryTransaction |
		ACCTPackageInstruction |
		ACCTProductPurchase |
		ACCTTaxWithholding |
		ACGRAccountDocument |
		ACGRCentralCrossReference |
		ACGRCrossRefCrossRefRole |
		ACGREmployeeAccountGroupRole |
		ACGRTaxExemption |
		ACTPAccountAlternateIdentifier |
		ACTPAccountTypeGroupParticipant |
		ACTPExternalAccount |
		ACVDAgrmntContractValDateDetail |
		APADRecepientInstruction |
		ASCDCurrencyConversionRule |
		ASINAgrmntOnStandingInstrucDtl |
		ASWPRecepientInstruction |
		AUORAuthorizedHoldingToDeliver |
		AUORAuthorizedLotToDeliver |
		AUORAuthorizedOrderParticipant |
		AUORBrokerOrderParticipant |
		AUSRApplicationUserGroupParticipant |
		AUSRCentralCrossReference |
		Account |
		AccountAccountRole |
		AccountAgreementParticipant |
		AccountAlternateCurrency |
		AccountAlternateIdentifier |
		AccountAmortAccreteOptions |
		AccountBankDraftInformation |
		AccountBankcardInformation |
		AccountCalendarParticipant |
		AccountCarryCostValueType |
		AccountCarryCostValueTypeCmpnt |
		AccountCashOptions |
		AccountClassification |
		AccountComment |
		AccountContactAssignment |
		AccountCorrespondParticipant |
		AccountCurrencyRestriction |
		AccountDetails |
		AccountDocument |
		AccountDocumentHistory |
		AccountExternalAccountRole |
		AccountFiduciaryInformation |
		AccountForeignTaxStatistics |
		AccountGeographicUnit |
		AccountGroup |
		AccountGroupAgreementParticipant |
		AccountGroupParticipant |
		AccountInvestmentInformation |
		AccountIssueActionDetail |
		AccountIssueActionInstruction |
		AccountLetterofIntent |
		AccountOptions |
		AccountPreAuthorizedDraft |
		AccountRestriction |
		AccountStandardStatistics |
		AccountStatistic |
		AccountSystematicWithdrawalPlan |
		AccountTaxForm |
		AccountTaxInformation |
		AccountTaxStatistics |
		AccountType |
		AccountTypeGroup |
		AccountTypeGroupParticipant |
		AccountValuation |
		AccountingBasisDefinition |
		AccrualOptions |
		AcctFinsRoleAccountParticipant |
		AddressFormat |
		AddressPurpose |
		AddressType |
		AgreeOnTaxReclaimGeogUnit |
		AgreementOnAccountSweep |
		AgreementOnIssactForecast |
		AgreementOnSettlementCurrency |
		AgreementOnStandingInstruc |
		AgreementOnTaxReclaim |
		AgrmntContractValDateDetail |
		AgrmntOnContractualValueDate |
		AgrmntOnSettlementCurrDetail |
		AgrmntOnStandingInstrucDtl |
		AlternateIdentifier |
		AmortizationAccretion |
		ApplicationDefinition |
		ApplicationFieldPart |
		ApplicationUser |
		ApplicationUserGroup |
		ApplicationUserGroupParticipant |
		ApplicationUserGroupProfileParticipant |
		ApplicationUserGroupRoleParticipant |
		ApplicationUserProfileParticipant |
		ApplicationUserRoleParticipant |
		ApplicationUserStatistic |
		ArchivePurgeInstructions |
		AuthorizedOrder |
		AuthorizedOrderFieldValue |
		AuthorizedOrderIdentifier |
		AverageMatrixPrice |
		AverageMatrixPriceParticipant |
		BenchmarkDefinition |
		BLTRBrokerOrderParticipant |
		BOAPInventoryTransaction |
		BOOKAccount |
		BOOKCustodianExpirationDates |
		BORDBrokerOrderParticipant |
		BRMIDealerRepMergeInstruction |
		BeneficiaryInformation |
		BlockedTrade |
		BlockedTradeStatus |		
		BNCHClassification |
		BNCHGeographicUnit |
		BNCHIdentifier |
		BNCHParticipant |
		BNCHRating |
		BNCHStatistics |
		BNCHValues |
		BNPTMandatedWeights |
		BNPTValues |
		BNVLByCurrency |
		BookOfAccounts |
		BranchMergeInstruction |
		BrokerOrder |
		CADFCalendarDateParticipant |
		CCRFCentralGrossReferenceGroupParticipant |
		CCRSCustomerCorrespondenceResponse |
		CFRMAccountContactAssignment |
		CNTCCentralCrossReference |
		CNTCCrossRefCrossRefRole |
		CUGRCentralCrossReference |
		CUGREmployeeCustomerGroupRole |
		CUGRTradeLimitInstruction |
		CUSTCentralCrossReference |
		CUSTCrossRefCrossRefRole |
		CUSTCustomerAccountGroupRole |
		CUSTCustomerAccountRole |
		CUSTCustomerGroupParticipant |
		CUSTDealerCustomerRole |
		CUSTEmployeeCustomerRole |
		CUSTEnterpriseCustomerRole |
		CUSTProductPurchase |
		CUSTTaxExemption |
		CalendarDateParticipant |
		CalendarDefinition |
		CapitalGainLossHoldingPeriod |
		CapitalGainLossLedgers |
		CapitalizationComment |
		CarryCostValCmpntDefinition |
		CentralCrossReference |
		CentralCrossReferenceGroup |
		CentralGrossReferenceGroupParticipant |
		ClearanceInstruction |
		CompanyComment |
		CompanyMeeting |
		CompanyMeetingAgendaItem |
		CompanyMeetingInstrument |
		CompanyMeetingParticipant |
		CompanyStatistics |
		CompanyStatisticsByGeoUnit |
		CompanyStatisticsByProduct |
		CompositeMarketIssueCharacteristics |
		ConsolidationStatus |
		ConsultingFirm |
		ConsultingFirmAlternateIdentifier |
		Contact |
		ContributionDefinition |
		CountryInformation |
		CountryRegionInformation |
		CountryRegionSubdivisionInformation |
		CountrySubdivisionInformation |
		CrossEnterpriseDefaultAccount |
		CrossRefCrossRefRole |
		CstdnIssactParticipantDetail |
		CstdnIssactProcedureDetail |
		CurrencyCharacteristics |
		CurrencyConversionRule |
		CustodianIssueActionDetails |
		Customer |
		CustomerAccountGroupRole |
		CustomerAgreementRole |
		CustomerCharacteristic |
		CustomerClassification |
		CustomerComment |
		CustomerContactAssignment |
		CustomerCorrespondenceReceived |
		CustomerCorrespondenceResponse |
		CustomerCorrespondenceSent |
		CustomerCustomerRole |
		CustomerGeographicUnit |
		CustomerGroup |
		CustomerGroupAccountRole |
		CustomerGroupParticipant |
		CustomerIdentifier |
		CustomerInformationRequest |
		CustomerIssueRole |
		CustomerRating |
		CustomerRestriction |
		CustomerStatistic |
		CustomerTransactionRole |
		CustomerType |
		DBMIBranchMergeInstruction |
		DLBRCentralCrossReference |
		DLBRDealerRepresentative |
		DLBRElectronicAddress |
		DLBRMailingAddress |
		DLBRMarketingAreaBranchAssignment |
		DLBRMarketingChannelBranchAssignment |
		DLERAuthorizedOrderParticipant |
		DLERCentralCrossReference |
		DLERDealerBranch |
		DLERElectronicAddress |
		DLERGroupParticipant |
		DLERMailingAddress |
		DLERMarketingChannelDealerAssignment |
		DREPAccountDetails |
		DREPAuthorizedOrderParticipant |
		DREPCentralCrossReference |
		DREPGroupParticipant |
		DREPMarketingAreaRepAssignment |
		DREPMarketingChannelRepAssignment |
		DTDFCalendarDateParticipant |
		DUNSResponseDetails |
		DateDefinition |
		Dealer |
		DealerAlternateIdentifier |
		DealerBranch |
		DealerBranchAlternateIdentifier |
		DealerBranchElectronicAddr |
		DealerBranchMailAddr |
		DealerCustomerRole |
		DealerGroup |
		DealerGroupParticipant |
		DealerMergeInstruction |
		DealerRepMergeInstruction |
		DealerRepParticipant |
		DealerRepresentative |
		DealerRepresentativeAlternateIdentifier |
		DealerRepresentativeElectronicAddr |
		DealerRepresentativeGroup |
		DealerRepresentativeGroupParticipant |
		DealerRepresentativeMailAddr |
		DealerRepresentativeParticipant |
		DebtInstrumentCharacteristics |
		DebtInstrumentStatistics |
		DefaultIndustryRlshp |
		DepositoryComment |
		DepositoryOptions |
		DerivativeDiscreteDate |
		DerivativeTradeExtension |
		DesignatedFinsRole |
		DiscreteDate |
		DocumentDefinition |
		DuplicateIssueActionCriteria |
		EADRAddressType |
		EADRConsultingFirm |
		EADRDealer |
		EADRRecepientInstruction |
		EMGRAccountContactAssignment |
		EMGRCustomerContactAssignment |
		EMKREmployeeClassification |
		EMKREmployeeStatistic |
		EMPLAccountContactAssignment |
		EMPLAuthorizedOrderParticipant |
		EMPLCentralCrossReference |
		EMPLCustomerContactAssignment |
		EMPLEmployeeGroupParticipant |
		EMPLEmployeeIssueRole |
		EMPLMarketingAreaEmployeeAssignment |
		EMRLAccountContactAssignment |
		EMRLAuthorizedOrderParticipant |
		EMRLCustomerContactAssignment |
		EMRLEmployeeClassification |
		EMRLEmployeeStatistic |
		EMRLMarketingAreaEmployeeAssignment |
		ENTRBookOfAccounts |
		ENTRCentralCrossReference |
		ENTRCrossRefCrossRefRole |
		ENTRCustodianExpirationDates |
		ENTREnterpriseGroupParticipant |
		ENTRProductLine |
		ENTRSubDivision |
		EXTRInventoryTransaction |
		ElectronicAccountPreAuthorizedDraft |
		ElectronicAccountSystematicWithdrawalPlan |
		ElectronicAddress |
		ElectronicAddressDuration |
		ElectronicAddressPreference |
		Employee |
		EmployeeAccountGroupRole |
		EmployeeAccountRole |
		EmployeeClassification |
		EmployeeCustomerGroupRole |
		EmployeeCustomerRole |
		EmployeeEligibleRole |
		EmployeeEmployeeRole |
		EmployeeEnterpriseGroupRole |
		EmployeeGeographicUnit |
		EmployeeGroup |
		EmployeeGroupAccountRole |
		EmployeeGroupParticipant |
		EmployeeIdentifier |
		EmployeeIssueRole |
		EmployeeLimitRole |
		EmployeeMarketRole |
		EmployeeMarketingGroupRole |
		EmployeeProductRole |
		EmployeeRole |
		EmployeeRoleIdentifier |
		EmployeeStatistic |
		EmployeeSubdivisionRole |
		EmptyFieldMatch |
		EndDateIssueActionRelation |
		Enterprise |
		EnterpriseAlternateIdentifier |
		EnterpriseCalendarParticipant |
		EnterpriseClassification |
		EnterpriseCustomerRole |
		EnterpriseEnterpriseRole |
		EnterpriseGeographicUnit |
		EnterpriseGroup |
		EnterpriseGroupParticipant |
		EnterpriseLedgerGroupAssignment |
		EnterpriseOptions |
		EnterpriseStatistic |
		EntitlementCharacteristics |
		EquityCharacteristics |
		EquityStatistics |
		ErrorDefinition |
		ErrorMessageDefinition |
		EventCharacteristics |
		ExecutedTrade |
		ExecutedTradeAmounts |
		ExecutedTradeClassification |
		ExecutedTradeComment |
		ExecutedTradeStatistics |
		ExtensionTableDeveloper |
		ExternalAccount |
		ExternalAccountBalance |
		ExternalAccountIdComponent |
		ExternalDomainValue |
		ExternalFieldDefinition |
		ExternalFieldMapping |
		ExternalIssueActionType |
		ExternalIssueType |
		FECHDerivativeSchedule |
		FINRBrokerOrder |
		FINRCentralCrossReference |
		FINRFinsRoleCustomerParticipant |
		FINRFinsRoleGroupParticipant |
		FINRFinsRoleIssueParticipant |
		FINRFinsRoleMarketRelationship |
		FINRIndustryRelationship |
		FINSCentralCrossReference |
		FINSCrossRefCrossRefRole |
		FINSFinancialInstitutionGroupPrt |
		FINSFinancialInstitutionRole |
		FINSRoleGeographicUnit |
		FPROAccountContactAssignment |
		FPROAuthorizedOrderParticipant |
		FPROCentralCrossReference |
		FPROCustomerContactAssignment |
		FPRODealerRepresentativeParticipant |
		FRIPPricingOptions |
		FTGRFeeTypeGroupParticipant |
		FXRTPriceComment |
		FeeChargingInstruction |
		FeeMinimumMaximum |
		FeeRateCharacteristics |
		FeeRateTier |
		FeeType |
		FeeTypeCharging |
		FeeTypeChargingGroup |
		FeeTypeDiscount |
		FeeTypeGroup |
		FeeTypeGroupParticipant |
		FinancialInstitution |
		FinancialInstitutionClassification |
		FinancialInstitutionComment |
		FinancialInstitutionDescription |
		FinancialInstitutionGeoUnitPrt |
		FinancialInstitutionGroup |
		FinancialInstitutionGroupPrt |
		FinancialInstitutionIdentifier |
		FinancialInstitutionIdentifierComment |
		FinancialInstitutionRating |
		FinancialInstitutionRole |
		FinancialInstitutionStatistic |
		FinancialMarket |
		FinancialMarketIdentifier |
		FinancialMarketTradingSession |
		FinancialServicesProfessional |
		FinsFinsRole |
		FinsMarketCalendarParticipant |
		FinsRoleAccountParticipant |
		FinsRoleCalendarParticipant |
		FinsRoleClassification |
		FinsRoleCustomerParticipant |
		FinsRoleGroup |
		FinsRoleGroupParticipant |
		FinsRoleIdentifier |
		FinsRoleIssueActionParticipant |
		FinsRoleIssueParticipant |
		FinsRoleIssueParticipantComment |
		FinsRoleMarketIssueParticipant |
		FinsRoleRating |
		FinsRoleStatistic |
		FinsServicesProAltIdentifier |
		FirmCustomerContactAssignment |
		FixedIncomeTradeExtension |
		ForeignCurrencyTradeExtension |
		ForeignExchangeCharacteristics |
		ForeignExchangeRates |
		FundCharacteristics |
		FundCharge |
		FundChargeComment |
		FundComment |
		FundInstrumentCriteria |
		FundInvestmentComment |
		FundInvestmentCriteriaDetail |
		FundLimitsAndFees |
		FundStatistics |
		FundSubscriptionRedemptionCriteria |
		FundingSource |
		FuturesCharacteristics |
		GUNTGeographicUnitGroupParticipant |
		GUNTGeographicUnitRelationship |
		GUSTGeographicUnitStatistic |
		GeoUnitCalendarParticipant |
		GeographicUnit |
		GeographicUnitGroup |
		GeographicUnitGroupParticipant |
		GeographicUnitLanguageParticipant |
		GeographicUnitRelationship |
		GeographicUnitStatistic |
		GeographicUnitTimeZoneParticipant |
		IACDExternalIssueActionType |
		IACSIssueCertificateCoupon |
		IADCCustodianExpirationDates |
		IADCEntitlementCharacteristics |
		IADCIssueActionEvent |
		IADCNLSNameAndDescription |
		IAPRCustodianExpirationDates |
		IAPRIssueActionPeriods |
		IATCIssueActionPrtTaxCharacteristics |
		IATYIssueActionTypeGroupPrt |
		IDMVExternalDomainValue |
		INCSIndustryClassification |
		INRECustodianExpirationDates |
		INREDefaultIndustryRlshp |
		IRGUCustodianExpirationDates |
		ISCDExternalIssueType |
		ISSRCentralCrossReference |
		ISSRIssuerGroupParticipant |
		ISSRNLSNameAndDescription |
		ISSUAccrualOptions |
		ISSUCashSweepVehicle |
		ISSUCentralCrossReference |
		ISSUCustodianExpirationDates |
		ISSUInventoryTransaction |
		ISSUIssueActionDeclaration |
		ISSUIssueCertificateCoupon |
		ISSUIssueGroupParticipant |
		ISSUIssuePrice |
		ISTYAlternateIdentifier |
		ISTYIssueTypeGroupParticipant |
		ISTYNLSNameAndDescription |
		InboundClearingMessage |
		IncomeEventComment |
		IncomeEventDefReplace |
		IncomeEventDefinition |
		IncomeEventParticipant |
		IncomePaymentComment |
		IncomePaymentDefinition |
		IndustryClassification |
		IndustryClassificationComment |
		IndustryClassificationSet |
		IndustryClassificationSetComment |
		IndustryRelationship |
		InterdepartmentService |
		InternalAccountAssignment |
		InternalAccountPurpose |
		InternalDomainValue |
		Issue |
		IssueActionCapitalDataChange |
		IssueActionComment |
		IssueActionCustomerTemplates |
		IssueActionDeclaration |
		IssueActionEligibility |
		IssueActionEncumbrance |
		IssueActionEntitlementDate |
		IssueActionEvent |
		IssueActionExcludedHoldings |
		IssueActionFractionSettlement |
		IssueActionGeographicUnit |
		IssueActionIdentifier |
		IssueActionInstitutionDataChange |
		IssueActionInterimActivity |
		IssueActionIssueTransformationInfo |
		IssueActionOfferDetails |
		IssueActionParticipant |
		IssueActionPeriods |
		IssueActionProcedure |
		IssueActionProcedureComment |
		IssueActionPrtComment |
		IssueActionPrtTaxBasis |
		IssueActionPrtTaxCharacteristics |
		IssueActionStatistic |
		IssueActionTaxCharacteristics |
		IssueActionTaxTreatmentParticipant |
		IssueActionType |
		IssueActionTypeCode |
		IssueActionTypeGroup |
		IssueActionTypeGroupPrt |
		IssueAnalytics |
		IssueCalendarParticipant |
		IssueCertificateCoupon |
		IssueCertificateCouponComment |
		IssueCertificateCouponSheet |
		IssueCertificateCouponSheetComment |
		IssueClassification |
		IssueCollateral |
		IssueComment |
		IssueCrossReference |
		IssueDescription |
		IssueDistributionHistory |
		IssueDocument |
		IssueGeneralComment |
		IssueGeoStatistics |
		IssueGeoUnit |
		IssueGroup |
		IssueGroupParticipant |
		IssueIdentifier |
		IssueMarketCapitalization |
		IssuePrice |
		IssueRating |
		IssueRegulatoryCharacteristics |
		IssueStatistic |
		IssueStatisticsByIssueYear |
		IssueStoppingList |
		IssueStoppingListAgent |
		IssueStoppingListCertificates |
		IssueStoppingListComment |
		IssueTaxStatistics |
		IssueTradeStatistics |
		IssueType |
		IssueTypeClassification |
		IssueTypeCode |
		IssueTypeGroup |
		IssueTypeGroupParticipant |
		Issuer |
		IssuerClassification |
		IssuerGeoUnit |
		IssuerGroup |
		IssuerGroupParticipant |
		IssuerIdentifier |
		IssuerRating |
		IssuerStatistics |
		IssuerType |
		LAGRAccountAgreementParticipant |
		LegalAgreement |
		LegalAgreementGeneralComment |
		LegalProceedingsInformation |
		LegalProceedingsInformationComment |
		LegalProceedingsMeeting |
		LegalProceedingsMeetingComment |
		LegalProceedingsParticipant |
		LegalProceedingsPriority |
		LegalProceedingsStage |
		LoanMarginRestriction |
		LoanMortgageCharacteristics |
		LoanMortgageDelinquencyStatistics |
		LoanMortgageStatistics |
		MADRAddressType |
		MADRConsultingFirm |
		MADRDealer |
		MADRRecepientInstruction |
		MBSTradeAllocation |
		MBSTradeAllocationCriteria |
		MBSTradeExtension |
		MDDFModelDefinitionTypePrt |
		MKGREmployeeMarketingGroupRole |
		MKGRProductLineMktGrpParticipant |
		MKISMarketIssueCrossReference |
		MRKTCentralCrossReference |
		MRKTFinsRoleMarketRelationship |
		MRKXMarketIndexGroupParticipant |
		MTGRMarketGroupParticipant |
		MailAccountSystematicWithdrawalPlan |
		MailingAddress |
		MailingAddressComponents |
		MailingAddressDuration |
		MarginRateOverride |
		MarketComment |
		MarketGroup |
		MarketGroupParicipant |
		MarketIndexAlternateIdentifier |
		MarketIndexDefinition |
		MarketIndexDefinitionComment |
		MarketIndexGroup |
		MarketIndexGroupParticipant |
		MarketIndexParticipant |
		MarketIndexStatistic |
		MarketIndexType |
		MarketIndexValue |
		MarketIssueCharacteristics |
		MarketIssueCharacteristicsComment |
		MarketIssueComment |
		MarketIssueStatistic |
		MarketRoleDefinition |
		MarketingArea |
		MarketingAreaBranchAssignment |
		MarketingAreaEmployeeAssignment |
		MarketingAreaRepAssignment |
		MarketingChannel |
		MarketingChannelBranchAssignment |
		MarketingChannelDealerAssignment |
		MarketingChannelRepAssignment |
		MarketingDivision |
		MarketingGroup |
		MarketingGroupParticipant |
		MassUpdateOldPhoneExchange |
		MassUpdatePhoneNumber |
		MessageNotificationDefinition |
		MessageNotificationParameter |
		MessageNotificationText |
		MiscellaneousIssueCharacteristics |
		ModelDefinition |
		ModelDefinitionTypePrt |
		ModelType |
		ModelTypeTemplate |
		MuniCharacteristics |
		MuniEscrow |
		MuniPurpose |
		NLSCodeDefinition |
		NonAccruableHolding |
		NotificationReactionSuggestion |
		OPCHDerivativeSchedule |
		OptionsCharacteristics |
		OutboundClearingMessage |
		OverrideControl |
		PackageInstruction |
		PCMXAverageMatrixPriceParticipant |
		PFTRProductFeatureAgreement |
		PFTRProductParticipant |
		PLNEAccountAmortAccreteOptions |
		PLNEAccountInvestmentInformation |
		PLNEAccountOptions |
		PLNEAccountTaxForm |
		PLNEAccountTaxInformation |
		PLNECustodianExpirationDates |
		PRAGProductFeatureAgreement |
		PRODProductAggrement |
		PRODSubdivisionProductResp |
		PreferredFinsRole |
		PriceComment |
		PriceTolerance |
		PriceToleranceOverride |
		PricingMatrix |
		PricingOptions |
		PricingPreference |
		PrincipalEventComment |
		PrincipalEventCondition |
		PrincipalEventDefReplace |
		PrincipalEventDefinition |
		PrincipalEventParticipant |
		PrincipalPaymentComment |
		PrincipalPaymentDefinition |
		Product |
		ProductAggrement |
		ProductCorrespondParticipant |
		ProductFeature |
		ProductFeatureAgreement |
		ProductGroup |
		ProductGroupParticipant |
		ProductLine |
		ProductLineMktGrpParticipant |
		ProductLineParticipant |
		ProductLineStatistic |
		ProductParticipant |
		ProductPurchase |
		ProductStatistic |
		PurgeControl |
		PurgeRestriction |
		RTNGRatingValue |
		RatingSetDefinition |
		RatingSetDefinitionComment |
		RatingValue |
		RatingValueComment |
		ReceivedIssueActionEntitlementDetails |
		ReceivedIssueActionLinkInformation |
		ReceivedIssueActionMessage |
		ReceivedIssueActionProcedure |
		ReceivedIssueActionProcedureDetail |
		RedemptionComment |
		RedemptionExtensionInformation |
		RedemptionPrematureRepaymentDates |
		RedemptionPrematureRepaymentInfo |
		Registration |
		RelatedIssue |
		RelatedIssueDefinition |
		RelatedIssueStatistics |
		RelatedSubdivision |
		RelatedTable |
		RelatedTableColumnControl |
		SPRFApplicationUserGroupProfileParticipant |
		SPRFApplicationUserProfileParticipant |
		SRLEApplicationUserGroupRoleParticipant |
		SRLEApplicationUserRoleParticipant |
		SUBDCentralCrossReference |
		SUBDSubdivisionGroupParticipant |
		ScheduleDefinition |
		SecurityProfile |
		SecurityRole |
		ShareHolderStatistics |
		StandardConfirmationComment |
		StandardConfirmationInstruction |
		StandardConfirmationMediaOption |
		StandardIndexStatistics |
		StandardRate |
		StandardSettlementAccount |
		StandardSettlementComment |
		StandardSettlementInstructions |
		StatisticDefinition |
		SubDivision |
		SubdivisionAccountRole |
		SubdivisionAlternateIdentifier |
		SubdivisionClassification |
		SubdivisionCustomerRole |
		SubdivisionEnterpriseRole |
		SubdivisionGeographicUnit |
		SubdivisionGroup |
		SubdivisionGroupParticipant |
		SubdivisionOptions |
		SubdivisionProductResp |
		SubdivisionStatistics |
		TRAKAgreeOnTaxReclaimGeogUnit |
		TTCHIssueActionTaxTreatmentParticipant |
		TXTYTaxRateTierCharacteristics |
		TXWHTaxExemption |
		TXWHTaxRateTierCharacteristics |
		TableDefinition |
		TableFieldParticipant |
		TableMergeColumnControl |
		TaxComment |
		TaxExemption |
		TaxForm |
		TaxFormCustomerType |
		TaxRateTier |
		TaxRateTierCharacteristics |
		TaxTreatmentAdditionalDetails |
		TaxTreatmentAdditionalDetailsComment |
		TaxTreatmentCharacteristics |
		TaxTreaty |
		TaxWithholding |
		TimeZoneDefinition |
		TimeZonePeriod |
		TradeBargainCondition |
		TradeFirmExtension |
		TradeIssueLocationRestriction |
		TradeLimitInstruction |
		TradeList |
		TradeListStatus |
		TradeMultiCurrencyExtension |
		TradeProcessingInstruction |
		TradeSalesCreditExtension |
		UnderwriterCharacteristics |
		UnderwriterStatistics |
		UnderwritingCharge |
		UnderwritingStatisticsbyGeoUnit |
		UnderwritingStatisticsbyIssueYear |
		UnitOfDenomination |
		UserCategory |
		VDANVendorAnnouncement |
		VendorAnnouncement |
		WithdrawalDiscreteDate |
		WorkStationUserSetting |
		XMLConfiguration |
		IncomePaymentDefReplace |
		PrincipalPaymentDefReplace |
		ISPCGoldenPrice |
		MissingPrices |
		ISSUMissingPrices |
		ChangeAuditLog |
		GoldenPrice |
    	CADPCalendarDateHolidayDetails |
		ISSRFinsIssuerRelationship |
	 	AOFDAttributeofInterestLogDetails |
		IADCIssueActionClassification |
		MKISMarketIssueClassification |
		TransactionEventClassification |
		PRODProductClassification |
		GUNTGeographicUnitRating |
		PRFSProductFeeRateTier |
		ACCTAccountRating |
		LMTGLoanMortgageRating |
		PRODProductGeographicUnit |
		GUNTLoanMortgageGeographicUnit |
		MRKTMarketGeographicUnit |
		ISSUTaxWithholding  |
		EMPLApplicationUserGroupParticipant ) #REQUIRED
>
